@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

body{

background-color: hsl(216, 12%, 8%);
height: 100vh;
margin: 0%;
position: relative;
font-family: 'Overpass',
sans-serif;
}
main{
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
height: 350px;
width: 330px;
background-image: linear-gradient( hsl(213, 19%, 18%), hsl(216, 18%, 16%));

border-radius: 15px;

;

}
#star{
width: 14px;
padding: 10px;
background-color: hsl(213, 20%, 22%);
border-radius: 50%;
}
.middle{
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
width: 85%;
height: 85%;
/* background-color: hsl(212, 15%, 37%); */

}
h2{

color: white;
margin-top: 13px;
}
p{

    color: hsl(217, 12%, 63%);
    width: 300px;
    font-size: 15px;
}
.numbers{
color: hsl(217, 12%, 63%);
margin-top: 25px;
position: relative;
}
.number{
padding: 10px 17px;
border-radius: 50%;
display: inline-block;
background-color: hsl(213, 20%, 22%);

}
.number:hover{

background-color: hsl(217, 12%, 63%);
color: white;
}
.number:active, .number:focus{

background-color: orange;
color: white;

}
small{
    color: gray;
    font-size: 0.6rem;
    position: absolute;
    left: 50%;
    top: 93%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, 0);
}

#one{

float: left;

}
#two{

float: left;
margin-left: 18px;
}
#three{

position: absolute;
left: 50%;
transform: translateX(-50%);
}
#four{

float: right;
margin-right: 16px;
}
#five{

float: right;
/* margin-right: 20px; */
}
#submit{

position: absolute;
left: 50%;
top: 85%;
transform: translate(-50%, 0);
padding: 10px 115px;
border-radius: 24px;
/* font-weight: 700; */
color: white;
background-color: hsl(25, 97%, 53%);
letter-spacing: 2px;
border:none;
}
#submit:hover{

background-color:white;
color: hsl(25, 97%, 53%);

}

#second{

    display: none;

}
.thankyou{

width: 140px;
position: absolute;
left: 50%;
transform: translateX(-50%);
}
#selected{

color: rgb(255, 123, 0);
font-size: 15px;
position: absolute;
left: 50%;
top: 45%;
transform: translate(-50%, 0);
width: 160px;
text-align: center;
padding: 5px 5px;
background-color: hsl(213, 20%, 22%);
border-radius: 15px;
}
.TYh2{

position: absolute;
top: 60%;
left: 50%;
transform: translate(-50%, 0);
font-weight: 400;
}
.TYP{

position: absolute;
top: 73%;
text-align: center;
left: 50%;
transform: translate(-50%, 0);
}
